<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Residential Services</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Residential
              Services</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!--section start-->
<section class="collection section-b-space">
  <div class="container">

    <div class="row partition-collection">
      <div class="tabordion">
        <section id="section1">
          <input type="radio" name="sections" id="option1" checked>
          <label for="option1"> <i class="fa-solid fa-washing-machine"></i>
            Service Wash </label>
          <article>
            <h2> <i class="fa-solid fa-washing-machine"></i> Service Wash </h2>
            <div class="row">
              <div class="col-md-8">
                <p>Get clean and fresh laundry with Service Wash! Our laundering
                  and delivery service will give you the convenience of having
                  your clothes laundered without leaving your home. Have all
                  your clothes get the professional treatment: shaping,
                  repairing, deep cleaning, spot removal, and much more. Stop
                  wasting time at the laundromat and start enjoying the
                  hassle-free experience of Service Wash!</p>
                <p>Our leading laundry service is designed to provide you with
                  the most convenient, time-efficient, and convenient way of
                  taking care of your laundry while you focus on what matters
                  most. We make sure every item comes back squeaky clean and
                  fresh, so you can enjoy your clean clothes without lifting a
                  finger!</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/wash.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section2">
          <input type="radio" name="sections" id="option2">
          <label for="option2"><i class="fa-solid fa-dryer-heat"></i> Dry Clean
          </label>
          <article>
            <h2> <i class="fa-solid fa-dryer-heat"></i> Dry Clean </h2>
            <div class="row">
              <div class="col-md-8">
                <p>Take your fresh look to the next level with Dry Clean! Get
                  rid of stains and messes quickly with our advanced, odorless
                  dry cleaning process. Our simplified approach makes it easy
                  for anyone to stay clean, saving time and making laundry day a
                  breeze. Refresh any garment with just the push of a button and
                  experience clean like never before!</p>
                <p>Have you ever wished for fresh, wrinkle-free clothes without
                  the hassle or mess of an at home laundry detergent? Dry Clean
                  is here to make your life easier! With our safe, gentle
                  formula and special applicators, it'll be like you just
                  stepped out of the dry cleaner's. Achieve spotless results
                  using less effort and save time with Dry Clean!</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/dryclean.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section3">
          <input type="radio" name="sections" id="option3">
          <label for="option3"><i class="fa-solid fa-clothes-hanger"></i>
            Ironing</label>
          <article>
            <h2><i class="fa-solid fa-clothes-hanger"></i> Ironing</h2>
            <div class="row">
              <div class="col-md-8">
                <p>We are dedicated, professional and reliable company providing
                  laundry services in Manchester and surrounding areas. Fully
                  trained insurance with years of experience. If you are looking
                  for professional ironing services in Manchester, rest assured
                  we have the right team for the job. Our reputation speaks for
                  itself and as the leader and first choice for ironing services
                  in Manchester, we pride ourselves on handling every cleaning
                  in a friendly, professional manner.
                </p><p>
                  Finding a professional, reliable and experienced Manchester
                  ironing service can be a minefield, which is why at Manchester
                  Cleaning Services we ensure professional Manchester ironing
                  service is exactly what you get.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/iron.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section4">
          <input type="radio" name="sections" id="option4">
          <label for="option4"> <i class="fa-solid fa-blanket"></i> Duvet/Bulky
            Items</label>
          <article>
            <h2> <i class="fa-solid fa-blanket"></i> Duvet/Bulky Items</h2>
            <div class="row">
              <div class="col-md-8">
                <p>You may wash our duvet covers regularly, but your duvet pad
                  needs some love and attention too! Experts recommend cleaning
                  duvet covers and pillows every six months, but our research
                  shows that a third of Brits don't actually do it. These things
                  can cause skin
                  and eye irritation and sleeplessness, so a professional dry
                  cleaning can ensure you sleep in a comfortable and hygienic
                  place.
                </p><p>
                  However, it's not just about speed and convenience, our
                  service also provides efficient sterilization and removal of
                  all allergens. Your duvet will be returned clean as new and
                  stored in compact packaging to keep it fresh until ready to
                  use.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/duvet.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section5">
          <input type="radio" name="sections" id="option5">
          <label for="option5"> <i class="fa-solid fa-blanket"></i> Alteration</label>
          <article>
            <h2> <i class="fa-solid fa-blanket"></i> Alteration</h2>
            <div class="row">
              <div class="col-md-8">
                <p>We all know how annoying it is when your favorite pants unzip
                  or the hem of your little black dress sags. Take the stress
                  out of buying replacements - take your clothes to your local
                  Johnson Cleaners store. Our repair experts offer a wide range
                  of services including repairing rips, replacing zippers,
                  replacing buttons, re-sewing buttonholes and more. Nothing is
                  too much trouble; just take your garments to a local store.
</p><p>
                  We offer a full clothing alteration service. Whether it's
                  cutting your favorite trousers short, changing jacket sleeves,
                  trimming the waist of a skirt, or changing curtains, our
                  highly qualified colleagues are at your service. We offer fast
                  turnaround times for remodels and repairs on most projects.
                  Special items such as wedding dresses or leather goods may
                  require processing by our expert center team, which may take
                  longer.
                </p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/stitch.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section6">
          <input type="radio" name="sections" id="option6">
          <label for="option6"> <i class="fa-solid fa-blanket"></i> Bedding &
            Curtain</label>
          <article>
            <h2> <i class="fa-solid fa-blanket"></i> Bedding & Curtain</h2>
            <div class="row">
              <div class="col-md-8">
                <p>Spring is just around the corner, but we want our bedding to smell fresh all year round - and it doesn't get any better than that! The benefits of cleaning your sheets and comforters regularly are not just sensory. It's important to sanitize all your sheets regularly and of course clean your duvets instead of buying new ones.
                </p>
                <p>   How often do you wash your curtains? There are some things you should know...you may not like it, but luckily there is a solution!</p>
                  <p> 
                  Well, we bleed at least 200ml of fluid on our sheets every night. Dust mites feed on dead skin that has been partially broken down by mold, and the skin itself and the dust mites that find it so tasty can quickly gather on unwashed beds and linens.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/bedding.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
      </div>

    </div>
  </div>
</section>
