<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Commercial Services</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Commercial
              Services</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!--section start-->
<section class="collection section-b-space">
  <div class="container">
    <div class="row partition-collection">
      <div class="tabordion section-b-space">
        <section id="section1">
          <input type="radio" name="sections" id="option1" checked>
          <label for="option1"> <i class="fa-solid fa-washing-machine"></i>
            Airbnb </label>
          <article>
            <h2> <i class="fa-solid fa-dryer-heat"></i> Airbnb </h2>
            <div class="row">
              <div class="col-md-8">
                <p>
                  Individual planning and fast processing. We know the
                  challenges of managing Airbnb - daily check-ins, short stays
                  and spontaneous bookings are demanding.
                  Look at Airbnb, Oxwash is built on flexibility and efficiency.
                  We will deliver your Airbnb laundry to your door on a
                  temporary or regular basis when you need it. </p><p>
                  Our website is dedicated to Airbnb, allowing you to manage
                  multiple properties. We deliver laundry within 48 hours and
                  deliver within 2 hours, allowing you to seamlessly coordinate
                  laundry delivery and cleaning services.
                </p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/airbnb.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section2">
          <input type="radio" name="sections" id="option2">
          <label for="option2"><i class="fa-solid fa-dryer-heat"></i>Hotels
          </label>
          <article>
            <h2> <i class="fa-solid fa-dryer-heat"></i> Hotels </h2>
            <div class="row">
              <div class="col-md-8">
                <p>
                  Top quality and hygiene standards provide your guests with
                  security in terms of hygiene and cleanliness. Running a hotel
                  is complex and demanding. Worrying about your hotel laundry
                  room should be the least of your worries. If we say pick up at
                  9:30 am, then we will pick up at 9:30 am. 99.8% pickup and
                  delivery success rate. No more headaches from delayed or lost
                  deliveries.
                </p><p>
                  No outsourcing. There are no missing items. Our vertically
                  integrated model ensures we control your item at every step of
                  the cycle. Highly localized handling facilities guarantee
                  individual handling of items.
                </p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/hotel.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section3">
          <input type="radio" name="sections" id="option3">
          <label for="option3"><i class="fa-solid fa-clothes-hanger"></i>Hospitals</label>
          <article>
            <h2><i class="fa-solid fa-clothes-hanger"></i>Hospitals</h2>
            <div class="row">
              <div class="col-md-8">
                <p> We are the first sustainable hotel laundry service designed
                  for cafés, small restaurants and bars. The laundry load is
                  never too small for us. We are centrally located a stone's
                  throw from local shops and can handle small and large orders.</p>
                <p>
                  Through our service we can either clean stock you already own
                  or help you source stock you can buy from us. In keeping with
                  your commitment to good food, great service and a great
                  atmosphere in your industry, we promise to deliver a great
                  experience for your staff and customers.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/hospital.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
        <section id="section4">
          <input type="radio" name="sections" id="option4">
          <label for="option4"> <i class="fa-solid fa-blanket"></i> Saloons</label>
          <article>
            <h2> <i class="fa-solid fa-blanket"></i> Saloons</h2>
            <div class="row">
              <div class="col-md-8">
                <p> We understand how busy agencies can get, which is why we
                  make our saloons laundry services as effortless as can be.
                  We’ll now not solely pick out up your laundry at a time and
                  area that fits you, however we’ll additionally drop it off at
                  a handy time for you too. Not to point out our speedy flip
                  round instances and splendid prices. Our clients come from an
                  considerable wide variety of sectors, which has given us
                  titanic trip in all kinds of company laundry needs.
                  </p><p>We’ve
                  constructed long-lasting relationships with all kinds of
                  agencies inside Manchester the place our services
                  assist their enterprise run smoothly. Our offerings cater to
                  all your laundry, ironing and dry cleansing wishes and we can
                  additionally take care of shoe repairs, upholstery cleansing
                  and lots more.</p>
              </div>
              <div class="col-md-4">
                <img src="assets/web/images/icon/services/saloon.png"
                  class="img-fluid" alt="">
              </div>
            </div>
          </article>
        </section>
      </div>

    </div>
  </div>
</section>
