<main id="main" class="main">
    <div class="pagetitle">
       <h1>Branches List</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/data/dashboard">Home</a></li>
             <li class="breadcrumb-item">Branches List</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Branches List
                        <button *ngIf="userAccess.edit" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addModalDialog"><i class="bi bi-plus-circle"></i> Add New</button>
                    </h5>
                   <div class="table-responsive" *ngIf="list && list.length > 0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Branch Name</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Pin Code</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th *ngIf="userAccess.edit || userAccess.delete">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><input type="text" class="form-control form-control-sm" name="search_string1" [(ngModel)]="search_string1" placeholder="Name"/></td>
                                    <td><input type="text" class="form-control form-control-sm" name="search_string2" [(ngModel)]="search_string2" placeholder="Email"/></td>
                                    <td><input type="text" class="form-control form-control-sm" name="search_string3" [(ngModel)]="search_string3" placeholder="Mobile Number"/></td>
                                    <td><input type="text" class="form-control form-control-sm" name="search_string4" [(ngModel)]="search_string4" placeholder="Pincode"/></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let data of list | smartFilter: { name: search_string1, email: search_string2, mobile_number: search_string3, pincode: search_string4 } | paginate: { id: 'pagination_id', itemsPerPage: pageSize, currentPage: page, totalItems: totalCount }; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.mobile_number}}</td>
                                    <td>{{data.pincode}}</td>
                                    <td>{{data.address}}</td>
                                    <td>
                                        <span *ngIf="data.active === true" (click)="changeStatus(data)" class="badge rounded-pill bg-primary">Active</span>
                                        <span *ngIf="data.active !== true" (click)="changeStatus(data)" class="badge rounded-pill bg-warning">Inactive</span>
                                    </td>
                                    <td *ngIf="userAccess.edit || userAccess.delete">
                                        <a (click)="edit(data)" data-bs-toggle="modal" data-bs-target="#updateModalDialog"><i class="bi bi-pencil-square"></i></a>
                                        <span class="mr-10"></span>
                                        <a (click)="delete(data.id)"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-div">
                            <pagination-template #p="paginationApi" id="pagination_id" (pageChange)="page = $event">
                                <ul class="pagination pagination-circled mb-0" *ngIf="(p.pages).length > 1">
                                    <li class="page-item" [class.disabled]="p.isFirstPage()"><a class="page-link" *ngIf="!p.isFirstPage()" (click)="p.previous()"><i
                                            class="icon ion-ios-arrow-back"></i></a></li>
                                    <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                                        <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{
                                        page.label }}</a>
                                        <a class="page-link" *ngIf="p.getCurrent() === page.value">{{ page.label }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="p.isLastPage()"><a class="page-link" *ngIf="!p.isLastPage()" (click)="p.next()"><i
                                            class="icon ion-ios-arrow-forward"></i></a></li>
                                </ul>
                            </pagination-template>
                        </div>
                    </div>
                    <p *ngIf="!list || list.length === 0">No data available</p>
                </div>
             </div>
          </div>
       </div>
    </section>    
    <div class="modal fade" id="addModalDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="addForm" (ngSubmit)="addFormSubmit()">
                    <div class="modal-header">
                        <h5 class="modal-title">ADD NEW BRANCH</h5>
                        <button type="button" id="close_add_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="branch_name" class="form-label">Branch Name*</label>
                                <input type="text" class="form-control" formControlName="branch_name">
                                <div *ngIf="form?.branch_name?.invalid && (form?.branch_name?.dirty || form?.branch_name?.touched)"
                                    class="error">
                                    <small *ngIf="form?.branch_name?.errors?.required">Please enter branch name</small>
                                    <small *ngIf="form?.branch_name?.errors?.minlength">First name should be min 3 chars</small>
                                    <small *ngIf="form?.branch_name?.errors?.maxlength">First name should be max 100 chars</small>
                                    <small *ngIf="form?.branch_name?.errors?.pattern">Please enter valid name</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="branch_email" class="form-label">Branch Email*</label>
                                <input type="text" class="form-control" formControlName="branch_email">
                                <div *ngIf="form?.branch_email?.invalid && (form?.branch_email?.dirty || form?.branch_email?.touched)"
                                    class="error">
                                    <small *ngIf="form?.branch_email?.errors?.required">Please enter branch email</small>
                                    <small *ngIf="form?.branch_email?.errors?.pattern">Please enter valid email</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="branch_mobile_number" class="form-label">Mobile Number*</label>
                                <input type="text" class="form-control" formControlName="branch_mobile_number" allowOnlyNumbers>
                                <div *ngIf="form?.branch_mobile_number?.invalid && (form?.branch_mobile_number?.dirty || form?.branch_mobile_number?.touched)"
                                    class="error">
                                    <small *ngIf="form?.branch_mobile_number?.errors?.required">Please enter mobile number</small>
                                    <small *ngIf="form?.branch_mobile_number?.errors?.pattern">Please enter valid mobile number</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="pincode" class="form-label">Pincode*</label>
                                <input type="tel" class="form-control" formControlName="pincode">
                                <div *ngIf="form?.pincode?.invalid && (form?.pincode?.dirty || form?.pincode?.touched)" class="error">
                                    <small *ngIf="form?.pincode?.errors?.required">Please enter pincode</small>
                                    <small *ngIf="form?.pincode?.errors?.pattern">Please enter valid pincode</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="address" class="form-label">Address*</label>
                                <input class="form-control" formControlName="address">
                                <div *ngIf="form?.address?.invalid && (form?.address?.dirty || form?.address?.touched)" class="error">
                                    <small *ngIf="form?.address?.errors?.required">Please enter address</small>
                                    <small *ngIf="form?.address?.errors?.minlength">Address should be min 5 chars</small>
                                    <small *ngIf="form?.address?.errors?.maxlength">Address should be max 100 chars</small>
                                    <small *ngIf="form?.address?.errors?.pattern">Please enter valid address</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="google_map_link" class="form-label">Google Map Embeded Link</label>
                                <input class="form-control" formControlName="google_map_link">
                                <button type="button" class="btn btn-primary btn-sm mt-2" (click)="loadGoogleMap('addform-map')">Show Map</button>
                                <div id="addform-map" class="mt-2"></div>
                            </div>                            
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                        <button type="submit" [disabled]="addForm.invalid || submitted" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
     </div>
    <div class="modal fade" id="updateModalDialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <form [formGroup]="updateForm" (ngSubmit)="updateFormSubmit()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">MODIFY BRANCH DETAILS</h5>
                        <button id="close_edit_modal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"> 
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="branch_name" class="form-label">Branch Name*</label>
                                <input type="text" class="form-control" formControlName="branch_name">
                                <div *ngIf="editForm?.branch_name?.invalid && (editForm?.branch_name?.dirty || editForm?.branch_name?.touched)"
                                    class="error">
                                    <small *ngIf="editForm?.branch_name?.errors?.required">Please enter branch name</small>
                                    <small *ngIf="editForm?.branch_name?.errors?.minlength">First name should be min 3 chars</small>
                                    <small *ngIf="editForm?.branch_name?.errors?.maxlength">First name should be max 100 chars</small>
                                    <small *ngIf="editForm?.branch_name?.errors?.pattern">Please enter valid name</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="branch_email" class="form-label">Branch Email*</label>
                                <input type="text" class="form-control" formControlName="branch_email">
                                <div *ngIf="editForm?.branch_email?.invalid && (editForm?.branch_email?.dirty || editForm?.branch_email?.touched)"
                                    class="error">
                                    <small *ngIf="editForm?.branch_email?.errors?.required">Please enter branch email</small>
                                    <small *ngIf="editForm?.branch_email?.errors?.pattern">Please enter valid email</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="branch_mobile_number" class="form-label">Mobile Number*</label>
                                <input type="text" class="form-control" formControlName="branch_mobile_number" allowOnlyNumbers>
                                <div *ngIf="editForm?.branch_mobile_number?.invalid && (editForm?.branch_mobile_number?.dirty || editForm?.branch_mobile_number?.touched)"
                                    class="error">
                                    <small *ngIf="editForm?.branch_mobile_number?.errors?.required">Please enter mobile number</small>
                                    <small *ngIf="editForm?.branch_mobile_number?.errors?.pattern">Please enter valid mobile number</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="pincode" class="form-label">Pincode*</label>
                                <input type="tel" class="form-control" formControlName="pincode">
                                <div *ngIf="editForm?.pincode?.invalid && (editForm?.pincode?.dirty || editForm?.pincode?.touched)" class="error">
                                    <small *ngIf="editForm?.pincode?.errors?.required">Please enter pincode</small>
                                    <small *ngIf="editForm?.pincode?.errors?.pattern">Please enter valid pincode</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="address" class="form-label">Address*</label>
                                <input class="form-control" formControlName="address">
                                <div *ngIf="editForm?.address?.invalid && (editForm?.address?.dirty || editForm?.address?.touched)" class="error">
                                    <small *ngIf="editForm?.address?.errors?.required">Please enter address</small>
                                    <small *ngIf="editForm?.address?.errors?.minlength">Address should be min 5 chars</small>
                                    <small *ngIf="editForm?.address?.errors?.maxlength">Address should be max 100 chars</small>
                                    <small *ngIf="editForm?.address?.errors?.pattern">Please enter valid address</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="google_map_link" class="form-label">Google Map Embeded Link</label>
                                <input class="form-control" formControlName="google_map_link">
                                <button type="button" class="btn btn-primary btn-sm mt-2" (click)="loadGoogleMap('updateform-map')">Show Map</button>
                                <div id="updateform-map" class="mt-2"></div>
                            </div>                            
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <input type="hidden" formControlName="id">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                        <button type="submit" [disabled]="updateForm.invalid || submitted" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
     </div>
 </main>