<!-- end topbar -->
<div class="bottombar">
    <div class="social-media">
        <div class="onoffswitch3">
            <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
            <label class="onoffswitch3-label" for="">
                <span class="onoffswitch3-inner">
                    <span class="onoffswitch3-active">
                        <marquee onmouseover="stop()" onmouseout="start()" class="scroll-text"> <img src="../../../../assets/web/images/flight-scroll.svg" /> Best International shipping  prices in India 700/- Rs per Kg to USA for 25 kgs and above.  <b> | </b>   If any custom charges imposed on a shipment, has to be paid by the receiver only. Hindustan International Courier is not responsible on it. </marquee>
                        <span class="onoffswitch3-switch">Latetst News</span>
                    </span>
                    <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
                </span>
            </label>
        </div>
    </div>
    <!-- end social-media -->
</div>
<!-- end bottombar -->
<header class="header">
    <div class="showcase-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-image bg-image d-none d-sm-block" data-background="../../../../assets/web/images/slide-new.svg"></div>
                <div class="slide-image bg-image d-block d-sm-none" data-background="../../../../assets/web/images/slide-new1.svg"></div>
                <!-- slide-image -->
                <div class="slide-inner">
                    <div class="container"> <small data-splitting>Hindustan</small>
                        <h1 data-splitting>International <br> <b>Courier</b> Services</h1>
                        <div class="form-group mt-4">
                            <a href="/prices"> <button id="submit" type="submit" name="submit">Our Prices</button></a>
                            <a href="/tracking"> <button class="ml-2" id="submit" type="submit" name="submit">Track Shipment</button></a>
                           <!-- <a href="/checkout"> <button class="ml-2" type="submit" name="submit">Pay Now</button></a>  -->
                        </div>
                        <!-- end link -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <div class="slide-image bg-image d-none d-sm-block" data-background="../../../../assets/web/images/slide02.svg"></div>
                <div class="slide-image bg-image d-block d-sm-none" data-background="../../../../assets/web/images/slide021.svg"></div>
                <!-- slide-image -->
                <div class="slide-inner">
                    <div class="container"> <small data-splitting>Best Logistics</small>
                        <h1 data-splitting>We are <b>globally </b><br /> preferred &amp; <br /> admired logistics </h1>
                        <div class="form-group mt-4">
                            <a href="/partner-us"> <button class="ml-2" id="submit" type="submit" name="submit">Partner Us</button> </a>
                        </div>
                        <!-- end link -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
        <div class="swiper-controls">
            <div class="swiper-button-prev"> <span>PREV</span> </div>
            <!-- end swiper-button-prev -->
            <div class="swiper-button-next"> <span>NEXT</span> </div>
            <!-- end swiper-button-next -->
        </div>
        <!-- end swiper-controls -->
    </div>
    <!-- end showcase-slider -->
</header>
<!-- end header -->
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="fist-header wow" data-splitting>
                        <div class="section-titles">
                            <h5>HINDUSTAN INTERNATIONAL COURIER</h5>
                            <h2>We aspire to become the globally preferred and admired logistics solutions provider.</h2>
                        </div>
                        <!-- end section-titles -->
                    </div>
                    <!-- end col-12 -->
                    <div class="wow fadeIn">
                        <p>Hindustan International Courier passion is for providing Swift, Safe, and Secure service! They are determined to “delight customers with quality service through investing in innovation, technology, and in our people to develop
                            and deliver comprehensive customized logistics solutions.”</p>
                    </div>
                    <!-- end col-7 -->
                </div>
                <!-- end row -->

            </div>
        </div>
        <div class="row justify-content-center wow mb-2 mt-4 cals">
            <!-- end col-12 -->
            <div class="col-12 spacing-30"></div>
            <div class="col-md-2 text-center wow fadeIn">
                <a href="/branches">
                    <div class="awards-box ab3">
                        <div class="img-bg"><img src="../../../../assets/web/images/branches-b.svg" /></div>
                        <div><b>Our Branches</b></div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 text-center wow fadeIn">
                <a href="/pickup-request">
                    <div class="awards-box ab1">
                        <div class="img-bg"><img src="../../../../assets/web/images/shipping-b.svg" /></div>
                        <div class="mt-1"><b>Request for Pickup</b>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 text-center wow fadeIn">
                <a href="/volumetric-calculator">
                    <div class="awards-box ab3">
                        <div class="img-bg"><img src="../../../../assets/web/images/calculator-b.svg" /></div>
                        <div class="mt-1"><b>Volumetric Calculator</b></div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 text-center wow fadeIn">
                <a href="/prohibited-items">
                    <div class="awards-box ab2">
                        <div class="img-bg"><img src="../../../../assets/web/images/forbidden-sign-b.svg" /></div>
                        <div class="mt-1"><b>Prohibited Items</b></div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 text-center wow fadeIn">
                <a href="/contact">
                    <div class="awards-box ab4">
                        <div class="img-bg"><img src="../../../../assets/web/images/live-chat-b.svg" /></div>
                        <div><b>Help/FAQs</b></div>
                    </div>
                </a>
            </div>

        </div>
        <p class="wow text-center"><b>Note:</b> Pickup Charges are applicable, contact us for the details. </p>
    </div>
    <!-- end container -->
</section>

<section class="content-section bg-image" data-background="../../../../assets/web/images/dark-pattern-bg2.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 wow" data-splitting>
                <div class="section-titles">
                    <h5>OUR SERVICES</h5>
                    <h2>We do ship to USA, UK, Australia, UAE, <br />New Zealand and 150 other countries.</h2>
                </div>
                <!-- end section-titles -->
            </div>
            <!-- end col-12 -->
            <div class="col-12 spacing-50"></div>
            <div class="col-lg-4 col-md-4 wow fadeIn">
                <div class="icon-content-box">
                    <figure> <img src="../../../../assets/web/images/icon02.png" alt="Image"> </figure>
                    <div class="content"> <b>01</b>
                        <p>Domuments and Medicine shipment</p>
                    </div>
                    <!-- end content -->
                </div>
                <!-- end icon-content-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4 col-md-4 wow fadeIn">
                <div class="icon-content-box">
                    <figure> <img src="../../../../assets/web/images/icon01.png" alt="Image"> </figure>
                    <div class="content"> <b>02</b>
                        <p> Ship all your house hold and food items</p>
                    </div>
                    <!-- end content -->
                </div>
                <!-- end icon-content-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-4 col-md-4 wow fadeIn">
                <div class="icon-content-box">
                    <figure> <img src="../../../../assets/web/images/icon03.png" alt="Image"> </figure>
                    <div class="content"> <b>03</b>
                        <p>Air freight your Brass and Wooden Artifact's</p>
                    </div>
                    <!-- end content -->
                </div>
                <!-- end icon-content-box -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end content-section -->
<!-- end content-section -->
<section class="content-section no-spacing gallery-section">
    <div class="row no-gutters">
        <div class="col-12 hide">
            <div class="section-titles wow" data-splitting>
                <h5>PHOTOS </h5>
                <h2>GALLERY</h2>
            </div>
            <!-- end section-titles -->
        </div>
        <!-- end hide -->
        <div class="col-lg-4 col-sm-6">
            <figure class="image-reveal wow">
                <div class="image-inner">
                    <a href="../../../../assets/web/images/hic-01.jpg" data-fancybox><img src="../../../../assets/web/images/hic-01.jpg" alt="Image"> </a>
                </div>
                <!-- end image-inner -->
            </figure>
            <!-- end image-reveal -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-4 col-sm-6">
            <figure class="image-reveal wow">
                <div class="image-inner">
                    <a href="../../../../assets/web/images/hic-02.jpg" data-fancybox> <img src="../../../../assets/web/images/hic-02.jpg" alt="Image"> </a>
                </div>
                <!-- end image-inner -->
            </figure>
            <!-- end image-reveal -->
        </div>
        <!-- end col-3 -->
        <div class="col-lg-4 col-sm-12">
            <figure class="image-reveal wow">
                <div class="image-inner">
                    <a href="../../../../assets/web/images/hic-03.jpg" data-fancybox><img src="../../../../assets/web/images/hic-03.jpg" alt="Image"> </a>
                </div>
                <!-- end image-inner -->
            </figure>
            <!-- end image-reveal -->
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</section>
<!-- end content-section -->
<!--     <section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-12 fist-header">
                <div class="section-titles wow" data-splitting>
                    <h5>SELECTED WORKS</h5>
                    <h2>OUR CUSTOMERS</h2>
                </div>
                
            </div>
            
        </div>
        
        <div class="row">
            <ul class="works">
                <li>
                    <figure class="image-reveal wow">
                        <div class="image-inner"> <img src="../../../../assets/web/images/case01.jpg" alt="Image"></div>
                        
                        <figcaption>
                            <div>
                                <h5><a href="#">SLEEPY FOX</a></h5>
                                <small>UI-UX Design, HTML</small> </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="image-reveal wow">
                        <div class="image-inner"> <img src="../../../../assets/web/images/case02.jpg" alt="Image"></div>
                        <figcaption>
                            <div>
                                <h5><a href="#">KAMASAK</a></h5>
                                <small>8K Video Production</small> </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="image-reveal wow">
                        <div class="image-inner"> <img src="../../../../assets/web/images/case03.jpg" alt="Image"></div>
                        <figcaption>
                            <div>
                                <h5><a href="#">SLAVICS</a></h5>
                                <small>Branding, Print</small> </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="image-reveal wow">
                        <div class="image-inner"> <img src="../../../../assets/web/images/case04.jpg" alt="Image"></div>
                        <figcaption>
                            <div>
                                <h5><a href="#">BRAMBOS</a></h5>
                                <small>CMS Development</small> </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div> 
</section> -->

 <footer class="footer bg-image pd-120" data-background="../../../../assets/web/images/dark-pattern-bg2.jpg">
    <div class="container">
        <div class="section-titles wow" data-splitting>
            <h5>CONTACT US</h5>
            <h2>HIC prices are as competative as other international couriers in India</h2>
            <!-- end section-titles -->
            <div class="footer-inner my-4">
                <div class="row">
                    <div class="col-lg-5 col-md-5 wow fadeIn">
                        
                            <h6>Customer Care:</h6>
                        <div class="row">
                        <div class="col-lg-6"> <h6>Phone</h6>
                        <p><a href="tel:+919513311116">+91 9513311116 </a>‬</p>
                     </div> 
                       <div class="col-lg-6"> <h6>Email</h6>
                        <p><a href="mailto:jagadish@hiclogistics.com">jagadish@hiclogistics.com</a></p>
                        </div></div> 
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-4 wow fadeIn">
                        <h6>Head Office Address</h6>
                        <address>
                            No.1-4-25/1,Pragathi Nagar, <br />Yadadri Bhongir, Telangana-508116
                        </address>
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-3 wow fadeIn">
                        <h6>Follow us</h6>
                        <a href="https://www.facebook.com/Hindustan-International-Courier-103372598371916" target="_blank">Facebook</a> <br />
                      <!--  <a href="#">Twitter</a> <br />
                        <a href="#">Youtube</a>-->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end footer-inner -->
            <div class="footer-bottom" data-splitting> <span>&copy; 2020 &nbsp; - &nbsp; All Rights Reserved - HIC</span> </div>
            <!-- end footer-bottom -->
        </div>
        <!-- end container -->
    </div>
</footer>

 <div class="hic-whatsapp wow"><a href="https://api.whatsapp.com/send?phone=919513311116&text=I'm%20interested%20in%20your%20services" target="_blank"> <img src="../../../../assets/web/images/hic-whatsapp.png"/> </a> </div>
 <button onclick="topFunction()" id="myBtn" title="Go to top"> <img src="../../../../assets/web/images/flight-1.svg" /> </button>