<section>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
              <h3 class="mb-4">Forgot Password!</h3>
              <p>Enter your email address below and we'll send you a link to reset your password!</p>
              <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <p *ngIf="isErrors" class="error">{{ errMessage }}</p>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" placeholder="Email address" formControlName="email" autoFocus class="form-control" />
                    <div *ngIf="form.email?.invalid && (form.email?.dirty || form.email?.touched)" class="error">
                        <small class="form-control-feedback" *ngIf="form.email?.errors?.required">Please enter email address</small>
                        <small class="form-control-feedback" *ngIf="form.email?.errors?.email">Please enter valid email address</small>
                    </div>
                </div>           
                <!-- Submit button -->
                <button type="submit" [disabled]="forgotForm.invalid || submitted" class="btn btn-primary btn-block">Submit</button>
                <hr />
                <p>Already have password, <a routerLink="/admin/auth/login"> Sign In</a> here.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>