<footer class="footer bg-image" data-background="../../../../assets/web/images/dark-pattern-bg2.jpg">
    <div class="container">
        <div class="section-titles wow" data-splitting>
        <!--    <h5>CONTACT US</h5>
            <h2>HIC prices are as competative as other international couriers in India</h2>
             end section-titles -->
            <div class="footer-inner my-4">
                <div class="row">
                    <div class="col-lg-5 col-md-5 wow fadeIn">
                        
                            <h6>Customer Care:</h6>
                        <div class="row">
                        <div class="col-lg-6"> <h6>Phone</h6>
                        <p><a href="tel:+919513311116">+91 9513311116 </a>‬</p>
                     </div> 
                       <div class="col-lg-6"> <h6>Email</h6>
                        <p><a href="mailto:jagadish@hiclogistics.com">jagadish@hiclogistics.com</a></p>
                        </div></div> 
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-4 wow fadeIn">
                        <h6>Head Office Address</h6>
                        <address>
                            No.1-4-25/1,Pragathi Nagar, <br />Yadadri Bhongir, Telangana-508116
                        </address>
                    </div>
                    <!-- end col-3 -->
                    <div class="col-lg-3 wow fadeIn">
                        <h6>Follow us</h6>
                        <a href="https://www.facebook.com/Hindustan-International-Courier-103372598371916" target="_blank">Facebook</a> <br />
                      <!--  <a href="#">Twitter</a> <br />
                        <a href="#">Youtube</a>-->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end footer-inner -->
            <div class="footer-bottom" data-splitting> <span>&copy; 2020 &nbsp; - &nbsp; All Rights Reserved - HIC</span> </div>
            <!-- end footer-bottom -->
        </div>
        <!-- end container -->
    </div>
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top"> <img src="../../../../assets/web/images/flight-1.svg" /> </button>