<section>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
                <h3 class="mb-4">Reset Your Password</h3>                
                <form *ngIf="!linkExpired && !success" class="user" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <p>Please enter your new credentials</p>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="password" placeholder="Enter your password" formControlName="password" class="form-control" />
                        <div *ngIf="form.password?.invalid && (form.password?.dirty || form.password?.touched)" class="error">
                            <small class="form-control-feedback" *ngIf="form.password?.errors?.required">Please enter password</small>
                            <small class="form-control-feedback" *ngIf="form.password?.errors?.pattern">Password must be min 8 chars including one uppercase, one special character and alphanumeric</small>
                        </div>
                    </div>           
                    <div class="form-outline mb-4">
                        <input type="password" class="form-control" formControlName="confirm_password" placeholder="Confirm your password">
                        <div *ngIf="form.confirm_password?.invalid && (form.confirm_password?.dirty || form.confirm_password?.touched)" class="error">
                            <small class="form-control-feedback" *ngIf="form.confirm_password?.errors?.required">Please confirm password</small>
                            <small class="form-control-feedback" *ngIf="form.confirm_password?.errors?.confirmedValidator">Passwords doesn't match</small>
                        </div>
                    </div>           
                    <!-- Submit button -->
                    <button type="submit" [disabled]="resetForm.invalid || submitted" class="btn btn-primary btn-block">Submit</button>
                </form>
                <div *ngIf="success && !linkExpired">
                    <p>Your password has reset successfully !</p>
                </div>
                <div *ngIf="linkExpired && !success">
                    <p>This link has expired, please request new link to reset your password</p>
                </div>
                <hr />
                <p>Already have password, <a routerLink="/admin/auth/login"> Sign In</a> here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>