<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5531.9251138102!2d-2.237171535312506!3d53.435957630902976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb3a31c9a29e1%3A0xbd771a0c12350d25!2sWithington%20laundry%20and%20dry%20cleaners!5e0!3m2!1sen!2suk!4v1675415271571!5m2!1sen!2suk" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <h3>We’re here to help you</h3> 
                    <p>Get in touch and let us know how can help.</p>
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <h6>Call Us</h6>
                            </div>
                            <div class="media-body">
                                <p> +44 7760 606319 <br /> +44 7760 606320</p> 
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Location </h6>
                            </div>
                            <div class="media-body">
                                <p>4 Whitchurch Road, Withington,<br /> Greater Manchester, United Kingdom </p>
                                <p>M20 1FX</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <h6>Email</h6>
                            </div>
                            <div class="media-body">
                                <p> help@washandfoldlaundrette.com</p> 
                            </div>
                        </li>
                         
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->