<!-- Start header -->
<div class="custom-cursor"></div>
<!-- end custom-cursor -->

<!-- <div class="preloader">
    <div class="layers"> <span></span> <span></span> <span></span> </div>
    <div class="container-fluid">
        <figure><img src="../../../../assets/web/images/hic-logo-final.svg" srcset="../../../../assets/web/images/hic-logo-final.svg" alt="Image"></figure>
        <small data-splitting>Still loading</small>
        <div class="percentage">
            <div id="percentage"></div>
        </div>
        <div class="loadbar"></div>
    </div>
</div> -->

<div class="page-transition">
    <div class="layers"> <span></span> <span></span> <span></span> </div>
    <!-- end layers -->
</div>
<!-- end page-transition -->
<div class="menu-navigation">
    <div class="layers"> <span></span> <span></span> <span></span> </div>
    <!-- end layers -->
</div>
<!-- end menu-navigation -->
<div class="menu-container">
    <ul class="main-menu">
        <li><a href="/branches">Our Branches</a></li>
        <li><a href="/partner-us">Partner Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<!-- end menu-container -->
<nav class="topbar">
    <div class="logo">
        <a href="">
            <img src="../../../../assets/web/images/hic-logo-final.svg"
                srcset="../../../../assets/web/images/hic-logo-final.svg" alt="Image">
        </a>
    </div>
    <!-- end logo -->
    <div class="languages">
        <ul>
            <!--  <li><a href="#">+91 9513311118</a></li>  -->
            <li><a href="mailto:jagadish@hiclogistics.com">jagadish@hiclogistics.com</a></li>
        </ul>
    </div>
    <!-- end languages -->
    <div class="hamburger-menu">
        <div class="texts"> <b data-splitting>Menu</b> <b data-splitting>Close</b> </div>
        <!-- end texts -->
        <div class="svg circle" id="hamburger-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 200 200">
                <g stroke-width="6.5" stroke-linecap="round">
                    <path d="M72 82.286h28.75" fill="#009100" fill-rule="evenodd" stroke="#fff" />
                    <path
                        d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
                        fill="none" stroke="#fff" />
                    <path d="M72 125.143h28.75" fill="#009100" fill-rule="evenodd" stroke="#fff" />
                    <path
                        d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
                        fill="none" stroke="#fff" />
                    <path d="M100.75 82.286h28.75" fill="#009100" fill-rule="evenodd" stroke="#fff" />
                    <path d="M100.75 125.143h28.75" fill="#009100" fill-rule="evenodd" stroke="#fff" />
                </g>
            </svg>
        </div>
        <!-- end svg -->
    </div>
    <!-- end hamburger-menu -->
</nav>
<!-- end of header -->